

/* @font-face {
    font-family: 'CustomFont';
    src: url('path/to/custom-font.woff2') format('woff2'),
         url('path/to/custom-font.woff') format('woff');
    /* Additional font properties, like font-weight and font-style, can be specified here */
  /* } */ 
/* in class or id ex * we put : 
.custom-text {
  font-family: 'CustomFont', sans-serif;
}
*/
#login { 
    background-image: url('Background.jpg');
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
/* .login{
    background-image: url('loginBackground.jpeg'); /* Correct public URL of the image */
    /* background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
/* }  */
/* 
.container{ 
    background-color: white;
    width: 20em;
    height: 25em; 
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(100, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* width: 100%;
    max-width: 400px; 
} 
   */
.login-box {
    /* background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.8); /*transparent*/
    width: 30em;
    height: 27em; 
    position: relative;
    border-radius: 1.25em;
    box-shadow: 0 0.1em 0.850em rgb(200, 166, 121);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }
  
  .login-box h1 {
    color: #34444c;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
  }
  
  .login-box form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #34444c;
  }
  
  .login-box form input {
    padding: 10px;
    width: 350px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

    /* background-color: rgb(229, 226, 226); */
    /* height: 4em;

    /* border-radius: 0.25em; */
    /* text-align: left; */
  }
  input:focus {
    outline-color: rgb(255, 190, 27);
}

.login-btn {
    padding: 8px;
    background-color: #F48220;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    width: 70%;
    margin-left: 15%;
    /* height: 2.75em; */
  }

  .login-btn:hover{
    transform: scale(1.1);
    background-color: #ffa12d;
}
  

#user{
    align-items: left;
    margin-left: 1%;
    justify-content: left;
    padding: 0px;
    margin-top: -22px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: normal;
}

#pass{
    align-items: left;
    margin-left: 1%;
    justify-content: left;
    padding: 0%;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: normal;
}

.motOublie{
    position: relative;
    bottom: -3px;
    right: 0%;
    align-items: left;
    justify-content: left;
    font-size: 14px;
    color: #F48220;
}

#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 80px;
}

.login-failed{
  color: red;
  margin-bottom: 20px;
  font-size: 13px;
}