/* VerticalNavbar.css */
.navbar-container {
    position: fixed;
    align-items: center;
    justify-content: center; 
    height:  90%; 
    z-index: 2;
}
  
  .rectangle {
    position: relative;
    top: 0;
    left: 0;
    width: 86.5%;
    height: 150px; /* Set the height of the rectangle */
    background-color: #34444C; /* Set the color of the rectangle */
    
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Take the full height of the rectangle */
  }
  
  .logo img {
    margin-bottom: 50px;    
    max-height: 70px; /* Set the maximum height of the logo */
    max-width: 70px; /* Set the maximum width of the logo */
    object-fit: contain; /* Maintain aspect ratio of the logo */
  }
  
  .vertical-navbar {
    background-color: #34444C;
    width: 78.9%;
    height: 100%;
    padding: 10px;
  }
  
  
  .vertical-navbar ul {
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
  }
  
  .vertical-navbar li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
  }
  
  .vertical-navbar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 30px;

    
    position: relative;
    z-index: 1; /* Set a higher z-index to ensure links are on top */
    padding-left: 15px;
  }
  
  .vertical-navbar a:hover {
    color: #F48220;
  }

  .vertical-navbar li svg {
    margin-right: 20px; /* Adjust the spacing between the icon and text */
    /* You can also add other styles to the icons if needed */
  }
   

  
  /* Add a blur effect to the bottom of the rectangle */
  .rectangle::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Adjust the value to control the blur size */
    left: 0;
    width: 100%;
    height: 50px; /* Adjust the value to control the blur size */
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.1));
    z-index: 2; /* To make the blur appear above the navbar */
  }
 